@page
@model SinusSkateboards.UI.Pages.AdminFolder.AddProductsModel
@{
}


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Add product </h2>

        <form method="post" enctype="multipart/form-data">

            <input id="title" type="text" asp-for="@Model.Product.Title" placeholder="Title" required />
            <input id="price" type="text" asp-for="@Model.Product.Price" placeholder="Price" required />
            <input id="color" type="text" asp-for="@Model.Product.Color" placeholder="Color" required />
            <input id="articleNumber" type="text" asp-for="@Model.Product.ArticleNumber" placeholder="Article number (Ex. 4580)" required />
            <input id="description" type="text" asp-for="@Model.Product.Description" placeholder="Description" required />
            <label for="Category">Choose category:</label>
            <select id="Category" asp-for="@Model.Product.Category">
                <option selected="selected" value=""></option>
                @foreach (var category in Model.CategoryList)
                {
                    <option value="@category">@category</option>
                }

            </select>
            <label for="imageUpload" class="btn-primary">Select image...</label>
            <input type="file" style="display:none" id="imageUpload" asp-for="@Model.Photo" accept=".jpg, .jpeg, .png" />
            <br />
            <button class="btn-primary"> Save </button><br />
        </form>
    </div>
</div>