@page
@model SinusSkateboards.UI.Pages.AdminFolder.EditProductModel
@{
}


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Edit product </h2>

        <form method="post" enctype="multipart/form-data">
            <input hidden asp-for="@Model.Product.Id" />
            <img src="~/images/@Model.Product.Image" class="img-thumbnail" style="width:70px" asp-append-version="true" />
            <input hidden asp-for="@Model.Product.Image" />
            <label for="imageUpload" class="btn-primary">Select new image...</label>
            <input type="file" style="display:none" id="imageUpload" asp-for="@Model.Photo" accept=".jpg, .jpeg, .png" />
            <h2>Current title: @Model.Product.Title</h2>
            <input hidden asp-for="@Model.Product.Title" />
            <input id="title" type="text" asp-for="@Model.NewTitle" placeholder="New Title" />
            <h2>Current article number: @Model.Product.ArticleNumber</h2>
            <input hidden asp-for="@Model.Product.ArticleNumber" />
            <input id="title" type="text" asp-for="@Model.NewArticleNumber" placeholder="New article number" />
            <h2>Current price: @Model.Product.Price SEK</h2>
            <br />
            <input hidden asp-for="@Model.Product.Price" />
            <label for="price">New price: </label>
            <input id="price" type="number" asp-for="@Model.NewPrice" placeholder="New Price" />
            <br />
            <h2>Current color:  @Model.Product.Color</h2>
            <input hidden asp-for="@Model.Product.Color" />
            <input id="color" type="text" asp-for="@Model.NewColor" placeholder="New Color" />
            <h2>Current description: @Model.Product.Description</h2>
            <input hidden asp-for="@Model.Product.Description" />
            <input id="description" type="text" asp-for="@Model.NewDescription" placeholder="New Description" />
            <h2>Current category: @Model.Product.Category</h2>
            <br />
            <label for="Category">Choose new category:</label>
            <br />
            <input hidden asp-for="@Model.Product.Category" />
            <select id="Category" asp-for="@Model.NewCategory">
                <option selected="selected" value=""></option>
                @foreach (var category in Model.CategoryList)
                {
                    <option value="@category">@category</option>
                }

            </select>

            <br />
            <button class="btn-primary"> Save </button><br />
        </form>
    </div>
</div>