@page
@model SinusSkateboards.UI.Pages.AdminFolder.ListAllProductsModel
@{
}

<body style="background-image:none">
    <div class="container">
        <div class="row">
            @if (Model.ListOfAllProducts != null && Model.ListOfAllProducts.Any())
            {
                @foreach (var product in Model.ListOfAllProducts)
                {
                    @if (product.Category == Domain.Categories.skateboard)
                    {
                        <div class="col-md-7">
                            <br />
                            <div class="card">
                                <div class="row">
                                    <div class="col-1">
                                        <img src="~/images/@product.Image" style="width:50px" />
                                    </div>
                                    <div class="col">
                                        <p>Product number : @product.ArticleNumber</p>
                                        <p>Title: @product.Title</p>
                                        <p>Category: @product.Category </p>
                                        <p>Color: @product.Color</p>
                                        <p>Price: @product.Price</p>
                                        <p>Description: @product.Description</p>
                                    </div>
                                    <div class="col">
                                        <a class="btn-primary" asp-page="/AdminFolder/DeleteProduct" asp-route-id="@product.Id">Delete</a>
                                        <a class="btn-primary" asp-page="/AdminFolder/EditProduct" asp-route-id="@product.Id">Edit</a>
                                    </div>
                                </div>
                            </div>
                            <br />

                        </div>
                    }
                }

            }

        </div>
    </div>
    <div class="container">
        <div class="row">
            @if (Model.ListOfAllProducts != null && Model.ListOfAllProducts.Any())
            {
                @foreach (var product in Model.ListOfAllProducts)
                {
                    @if (product.Category == Domain.Categories.cap)
                    {
                        <div class="col-md-7">
                            <br />
                            <div class="card">
                                <div class="row">
                                    <div class="col-1">
                                        <img src="~/images/@product.Image" style="width:50px" />
                                    </div>
                                    <div class="col">
                                        <p>Product number : @product.ArticleNumber</p>
                                        <p>Title: @product.Title</p>
                                        <p>Category: @product.Category </p>
                                        <p>Color: @product.Color</p>
                                        <p>Price: @product.Price</p>
                                        <p>Description: @product.Description</p>
                                    </div>
                                    <div class="col">
                                        <a class="btn-primary" asp-page="/AdminFolder/DeleteProduct" asp-route-id="@product.Id">Delete</a>
                                        <a class="btn-primary" asp-page="/AdminFolder/EditProduct" asp-route-id="@product.Id">Edit</a>
                                    </div>
                                </div>
                            </div>
                            <br />

                        </div>
                    }
                }

            }

        </div>
    </div>
    <div class="container">
        <div class="row">
            @if (Model.ListOfAllProducts != null && Model.ListOfAllProducts.Any())
            {
                @foreach (var product in Model.ListOfAllProducts)
                {
                    @if (product.Category == Domain.Categories.hoodie)
                    {
                        <div class="col-md-7">
                            <br />
                            <div class="card">
                                <div class="row">
                                    <div class="col-1">
                                        <img src="~/images/@product.Image" style="width:50px" />
                                    </div>
                                    <div class="col">
                                        <p>Product number : @product.ArticleNumber</p>
                                        <p>Title: @product.Title</p>
                                        <p>Category: @product.Category </p>
                                        <p>Color: @product.Color</p>
                                        <p>Price: @product.Price</p>
                                        <p>Description: @product.Description</p>
                                    </div>
                                    <div class="col">
                                        <a class="btn-primary" asp-page="/AdminFolder/DeleteProduct" asp-route-id="@product.Id">Delete</a>
                                        <a class="btn-primary" asp-page="/AdminFolder/EditProduct" asp-route-id="@product.Id">Edit</a>
                                    </div>
                                </div>
                            </div>
                            <br />

                        </div>
                    }
                }

            }

        </div>
    </div>
    <div class="container">
        <div class="row">
            @if (Model.ListOfAllProducts != null && Model.ListOfAllProducts.Any())
            {
                @foreach (var product in Model.ListOfAllProducts)
                {
                    @if (product.Category == Domain.Categories.tshirt)
                    {
                        <div class="col-md-7">
                            <br />
                            <div class="card">
                                <div class="row">
                                    <div class="col-1">
                                        <img src="~/images/@product.Image" style="width:50px" />
                                    </div>
                                    <div class="col">
                                        <p>Product number : @product.ArticleNumber</p>
                                        <p>Title: @product.Title</p>
                                        <p>Category: @product.Category </p>
                                        <p>Color: @product.Color</p>
                                        <p>Price: @product.Price</p>
                                        <p>Description: @product.Description</p>
                                    </div>
                                    <div class="col">
                                        <a class="btn-primary" asp-page="/AdminFolder/DeleteProduct" asp-route-id="@product.Id">Delete</a>
                                        <a class="btn-primary" asp-page="/AdminFolder/EditProduct" asp-route-id="@product.Id">Edit</a>
                                    </div>
                                </div>
                            </div>
                            <br />

                        </div>
                    }
                }

            }

        </div>
    </div>



    <div class="container">
        <div class="row">
            @if (Model.ListOfAllProducts != null && Model.ListOfAllProducts.Any())
            {
                @foreach (var product in Model.ListOfAllProducts)
                {
                    @if (product.Category == Domain.Categories.wheel)
                    {

                        <div class="col-md-7">
                            <br />
                            <div class="card">
                                <div class="row">
                                    <div class="col-1">
                                        <img src="~/images/@product.Image" style="width:50px" />
                                    </div>
                                    <div class="col">
                                        <p>Product number : @product.ArticleNumber</p>
                                        <p>Title: @product.Title</p>
                                        <p>Category: @product.Category </p>
                                        <p>Color: @product.Color</p>
                                        <p>Price: @product.Price</p>
                                        <p>Description: @product.Description</p>
                                    </div>
                                    <div class="col">
                                        <a class="btn-primary" asp-page="/AdminFolder/DeleteProduct" asp-route-id="@product.Id">Delete</a>
                                        <a class="btn-primary" asp-page="/AdminFolder/EditProduct" asp-route-id="@product.Id">Edit</a>
                                    </div>
                                </div>
                            </div>
                            <br />

                        </div>
                    }
                }

            }

        </div>
    </div>
</body>