@page
@model SinusSkateboards.UI.Pages.ConfirmationPageModel
@{
}

<body style="background-image:none">

    <div class="container">
        <div class="row" style="text-align:center">
            <div class="col">
                <h1>Your order is now on its way!!</h1>
                <h1>Order number: @Model.Order.Id</h1>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Shipping address:</h5>
                <h5>Name: @Model.Order.CustomerModel.Name</h5>
                <h5>Address: @Model.Order.CustomerModel.Address</h5>
                <h5>ZipCode: @Model.Order.CustomerModel.ZipCode</h5>
                <h5>City: @Model.Order.CustomerModel.City</h5>
                <h5>Text-message at arrival: @Model.Order.CustomerModel.PhoneNumber</h5>
            </div>
            <div class="col">
                <h5>Product details:</h5>

                @foreach (var product in Model.Products)
                {
                    <div class="card">
                        <div class="row">
                            <div class="col">
                                <img src="~/images/@product.Image" style="width:50px" />
                            </div>
                            <div class="col">
                                <h5>Product number : @product.ArticleNumber</h5>
                                <h5>Title: @product.Title</h5>
                                <h5>Color: @product.Color</h5>
                                <h5>Price: @product.Price</h5>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <h4>Total price of @Model.TotalPrice SEK will be withdrawn from your Klarna account</h4>
    </div>

    <div class="container">
        <div class="row" style="text-align:center">
            <div class="col">
                <a asp-page="Index"> Click here for front page </a>
            </div>
        </div>
    </div>




</body>


