@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<form method="post" class="example">
    <div class="container" style="text-align:center">
        <div class="row">
            <div class="col">
                <input type="text" placeholder="Search.." name="search">
            </div>
        </div>
        <div class="row">
            @foreach (var category in Model.CategoryList)
            {
                <div class="col-md-2">
                    <div class="card" style="width:100px">
                        <input type="checkbox" id="CategoryCap" name="Category" value="@category.ToString()" />
                        <label for="CategoryCap" style="color:white">@category</label>
                    </div>
                </div>
            }
        </div>
        <div class="row" style="text-align:right">
            <div class="col">
                <button type="submit" asp-route-search="search" asp-route-category="Category"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @if (Model.MatchedProducts != null && Model.MatchedProducts.Any())
            {
                @foreach (var product in Model.MatchedProducts)
                {
                    <div class="col-md-4">
                        <div class="card">
                            <h1>
                                @product.Title
                            </h1>
                            <h3>Price: @product.Price SEK</h3>
                            <h3>Category : @product.Category</h3>
                            <a style="background-color:white" asp-page="ProductOverview" asp-route-id="@product.Id"><img src="~/images/@product.Image" class="img-thumbnail" style="width:150px" asp-append-version="true" /> </a>

                            <br />
                            <p>Description: @product.Description</p>
                            <br />
                            <input class="btn-primary" asp-page-handler="AddToCart" asp-route-id="@product.Id" type="submit" value="Add to cart!" />

                        </div>
                    </div>

                }

            }

        </div>
    </div>


</form>



