@page
@model SinusSkateboards.UI.Pages.ProductOverviewModel
@{
}

<body style="background-image:none">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="~/images/@Model.Product.Image" style="width:300px" />
            </div>
            <div class="col" >
                <div class="card">
                    <div class="row justify-content-center">
                        <h2>Title: @Model.Product.Title</h2>
                    </div>
                    <div class="row justify-content-center">
                        <h2>Category: @Model.Product.Category</h2>
                    </div>
                    <div class="row justify-content-center">
                        <h2>Price: @Model.Product.Price SEK</h2>
                    </div>
                    <div class="row justify-content-center">
                        <h2>Color: @Model.Product.Color</h2>
                    </div>
                    <div class="row justify-content-center">
                        <h2>Description: @Model.Product.Description</h2>
                    </div>
                    <div class="row justify-content-center">
                        <form method="post">
                            <input class="btn-primary" asp-page-handler="AddToCart" asp-route-id="@Model.Product.Id" type="submit" value="Add to cart!" />
                        </form>

                    </div>
                </div>

                <div class="row">
                    <p>Also in these colors</p>
                </div>
                <div class="row">
                    @foreach (var product in Model.ListAlsoInColors)
                    {
                        <div class="col-md-6">
                            <a style="background-color:white" asp-page="ProductOverview" asp-route-id="@product.Id"><img src="~/images/@product.Image" style="width:100px" /> </a>
                            <h5 style="text-align:center">Color: @product.Color</h5>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</body>
