@page
@model SinusSkateboards.UI.Pages.ShoppingCartModel
@{
}

<body style="background-image:none">



    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col-7">
                    @if (Model.CookieProducts != null && Model.CookieProducts.Any())
                    {
                        @foreach (var product in Model.CookieProducts)
                        {
                            <div class="row">
                                <div class="col">
                                    <img src="~/images/@product.Image" class="img-thumbnail" style="width:100px" asp-append-version="true" />
                                </div>
                                <div class="col">
                                    <h5>
                                        @product.Title
                                    </h5>
                                </div>
                                <div class="col">
                                    <h5>Price: @product.Price.ToString("#,##0") SEK</h5>
                                </div>
                                <div class="col">
                                    <h5>Category : @product.Category</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Description: @product.Description</p>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-2">
                                    <input class="btn-primary" asp-page-handler="Delete" asp-route-id="@product.Id" type="submit" value="Delete from cart" />
                                </div>
                            </div>
                        }
                    }
                    <div class="row">
                        <h4>Total price of @Model.TotalPrice SEK </h4>
                    </div>
                </div>

                <div class="col">
                    <div class="wrapper fadeInDown">
                        <div id="formContent">
                            <!-- Tabs Titles -->
                            <h2 class="active"> Enter customer information </h2>

                            <input id="Name" type="text" asp-for="@Model.Customer.Name" placeholder="Name" required />
                            <input id="Address" type="text" asp-for="@Model.Customer.Address" placeholder="Address" required />
                            <input id="ZipCode" type="text" asp-for="@Model.Customer.ZipCode" placeholder="ZipCode" required />
                            <input id="City" type="text" asp-for="@Model.Customer.City" placeholder="City" required />
                            <input id="PhoneNumber" type="text" asp-for="@Model.Customer.PhoneNumber" placeholder="Phone number" required />
                            <br />
                            <button class="btn-primary" type="submit" asp-page-handler="NewCustomer"> Save and continue</button><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>